{% extends "auctions/layout.html" %}
{% load auctions_extras %}

{% block title %}
{{ auction_item.title }}
{% endblock %}

{% block body %}

{% if error_message %}
<p style="color: red;"><strong>{{ error_message }}</strong></p>
{% endif %}

{% if success_message %}
<p style="color: green;"><strong>{{ success_message }}</strong></p>
{% endif %}

<h2>
    {{ auction_item.title }}
    {% if auction_item.is_active is not True %}
    (Closed)
    {% endif %}
</h2>

{% if user != auction_item.creator %}

{% if user|has_bid_on_auction:auction_item %}
<p style="background-color: lightgreen; width: 74px; padding: 9px; border-radius: 5px; margin-left: 0px;">Bidding</p>
{% else %}
<p style="background-color: lightcoral; width: 107px; padding: 9px; border-radius: 5px; margin-left: 0px;">Not Bidding
</p>
{% endif %}

{% endif %}

<div style="display: flex; flex-direction: row;">
    {% if user in auction_item.watched_by.all %}
    <p style="background-color: lightgreen; width: 87px; padding: 9px; border-radius: 5px;">Watching</p>
    <form action="{% url 'update_watchlist' user.id auction_item.id %}" method="post">
        {% csrf_token %}
        <input
            style="border-color: lightgrey; background-color: lightgrey; border-style: solid; padding: 7px; border-radius: 5px; margin-left: 9px;"
            type="submit" value="Remove From Watchlist">
    </form>
    {% else %}
    <p style="background-color: lightcoral; width: 117px; padding: 9px; border-radius: 5px;">Not Watching</p>
    <form action="{% url 'update_watchlist' user.id auction_item.id %}" method="post">
        {% csrf_token %}
        <input
            style="border-color: lightgrey; background-color: lightgrey; border-style: solid; padding: 7px; border-radius: 5px; margin-left: 9px;"
            type="submit" value="Add To Watchlist">
    </form>
    {% endif %}
</div>


&nbsp;
<img src="{{ auction_item.item_image.url }}" alt="Image Not Provided" style="padding: 12px; object-fit: contain;"
    width="400px" height="300px">

<p>{{ auction_item.description }}</p>

<p>
    <strong>
        {% if auction_item.is_active is True %}
        Current Price: ${{ auction_item.current_price }}
        {% else %}
        Sold For ${{ auction_item.current_price }} to {{ auction_item.winner.username }}

        {% if auction_item.winner == user %}
        <p>Congratulations, you have won this auction.</p>
        {% elif user|has_bid_on_auction:auction_item %}
        <p>Your bid of ${{ user|latest_bid_price_for_auction:auction_item }} lost this auction.</p>

        {% endif %}

        {% endif %}
    </strong>
</p>

{% if auction_item.is_active is True %}

<p>{{ total_bids }} bid{{ total_bids|pluralize }} ha{{ total_bids|pluralize:"s,ve" }} been placed so far</p>

{% if user != auction_item.creator %}

{% if user|has_bid_on_auction:auction_item %}

{% if auction_item.get_highest_bid.creator == user %}
<p>You are currently the top bidder with a bid amount of ${{user|latest_bid_price_for_auction:auction_item}}</p>
{% else %}

<p>
    {% with price=user|latest_bid_price_for_auction:auction_item %}

    There {{ auction_item|number_of_higher_bids:price|pluralize:"is, are" }}
    {{auction_item|number_of_higher_bids:price}}
    higher bid{{ auction_item|number_of_higher_bids:price|pluralize }} than your most recent bid of ${{ price }}

    {% endwith %}
</p>

{% endif %}

<form action="{% url 'auction_view' auction_item.id %}" method="post">
    {% csrf_token %}
    {{ bid_form.as_p }}

    <input
        style="border-color: lightgrey; background-color: lightgrey; border-style: solid; padding: 7px; border-radius: 5px;"
        type="submit" value="Update Bid">
</form>

{% else %}
<form action="{% url 'auction_view' auction_item.id %}" method="post">
    {{ bid_form.non_field_errors }}
    {% csrf_token %}
    <p style="margin: 0px;">{{ bid_form.price.label_tag }}</p>
    <p style="margin-bottom: 9px;">{{ bid_form.price }}</p>
    {% for error in bid_form.price.errors %}
    <p style="color: red;">{{ error }}</p>
    {% endfor %}

    <input
        style="border-color: lightgrey; background-color: lightgrey; border-style: solid; padding: 7px; border-radius: 5px; margin-bottom: 17px;"
        type="submit" value="Place Bid">
</form>

{% endif %}

{% endif %}

{% endif %}

<h3>Details</h3>
<ul>
    <li>Listed by {{ auction_item.creator.username }}</li>
    <li>Posted on {{ auction_item.creation_date|date:"l, F j Y" }} at {{ auction_item.creation_date|time }}</li>
    <li>Last modified on {{ auction_item.last_modified|date:"l, F j Y" }} at {{ auction_item.last_modified|time }}</li>
    {% if auction_item.is_active is False %}
    <li>Closed on {{ auction_item.closing_date|date:"l, F j Y"}} at {{ auction_item.closing_date|time }}</li>
    {% endif %}
</ul>

<div style="display: flex; flex-direction: row;">
    {% if auction_item.is_active is True and user == auction_item.creator and auction_item.bids.count > 0 %}
    <form action="{% url 'close_auction' auction_item.id %}" method="post">
        {% csrf_token %}
        <input
            style="color: whitesmoke; border-color: crimson; background-color: crimson; border-style: solid; padding: 7px; border-radius: 5px; margin-right: 12px;"
            type="submit" value="Close Auction">
    </form>
    {% endif %}

    {% if user == auction_item.creator and auction_item.is_active %}

    <a href="{% url 'update_auction_item' auction_item.id %}" class="btn btn-primary">Edit
        Auction</a>

    {% endif %}
</div>

<hr>
<h3>Comments</h3>
<ul style="list-style-type: none;">
    {% for comment in auction_item.comments.all %}
    <li>
        <strong>{{ comment.creator.username }}</strong>
        <!-- [{{ comment.creation_date }}] -->
        on {{ comment.creation_date|date:"l, F j Y" }} at {{ comment.creation_date|time }}
        <p>{{ comment.text|linebreaksbr }}</p>
    </li>
    {% endfor %}
</ul>

{% if auction_item.is_active is True %}
<form action="{% url 'new_comment' auction_item.id %}" method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input
        style="border-color: lightgrey; background-color: lightgrey; border-style: solid; padding: 7px; border-radius: 5px;"
        type="submit" value="Post Comment">
</form>
{% endif %}


{% endblock %}