{% extends 'auctions/layout.html' %}

{% block title %}
New Auction
{% endblock %}

{% block body %}

<h2>Create New Auction</h2>

{% if user.is_authenticated %}
<form action="{% url 'new_auction' %}" method="POST" enctype="multipart/form-data">
    {% include 'auctions/form_template.html' with form=auction_item_form %}
    <input
        style="border-color: lightgrey; background-color: lightgrey; border-style: solid; padding: 7px; border-radius: 5px;"
        type="submit" value="Create">
</form>
{% else %}
<p>Please <a href="{% url 'login' %}">sign in</a> to create a new auction.</p>
{% endif %}

{% endblock %}